<h1 id="werckmeister">Werckmeister</h1>

<div nz-row class="hero-column intro" nzType="flex" [nzGutter]="gutter">
    <div nz-col [nzSm]="{ span: 24, order: 2 }" [nzMd]="{ span: 12, order: 1 }">
        <h2 id="an-open-source-sheet-music-midi-compiler">An <a href="https://github.com/werckme/werckmeister">open
                source</a>
            Sheet Music MIDI Compiler</h2>
        <p>
            The beauty of lead sheet music, you write a melody and some chords.
        </p>
        
        <app-hero-snippet></app-hero-snippet>

    </div>
    <div nz-col [nzSm]="{ span: 24, order: 1 }" [nzMd]="{ span: 12, order: 2 }">
        <img src="https://raw.githubusercontent.com/werckme/werckmeister/main/assets/hero.png" class="hero-image"
            alt="from sheet code via Werckmeister to MIDI music">
    </div>
</div>
<div nz-row class="hero-column getting-started" nzType="flex" [nzGutter]="gutter">
    <div nz-col nzSm="24" nzMd="12">
        <h2>Turn sheet code into MIDI music.</h2>
        <div class="system-icons">
            <i nz-icon nzType="windows"></i>
            <i nz-icon nzType="apple"></i>
            <i nz-icon nzType="qq"></i>
        </div>
        <a nz-button nzSize="large" nzType="primary" [routerLink]="['/getting-started']"><i nz-icon nzType="download"></i>Free Download</a>
    </div>
    <div nz-col nzSm="24" nzMd="12">
        <h2>Try It Online</h2>
        <ul class="examples">
            <li><a [routerLink]="['/editor']" [queryParams]="{wid: 'mariounderworld'}">Mario Underworld</a></li>
            <li><a [routerLink]="['/editor']" [queryParams]="{wid: 'ipanema'}">The Girl From Ipanema</a></li>
            <li><a [routerLink]="['/editor']" [queryParams]="{wid: 'autumnleaves'}">Autumn Leaves</a></li>
            <li><a [routerLink]="['/examples']">more ...</a></li>
        </ul>
        <a nz-button nzSize="large" nzType="primary" [routerLink]="['/editor']"><i nz-icon nzType="cloud"></i>Online Editor</a>
    </div>
</div>

<div nz-row class="hero-column features" nzType="flex" [nzGutter]="gutter">
    <div nz-col nzSm="24" nzMd="12">
        <h2 id="use-werckmeister-if-you-want-to">Use Werckmeister if you want to</h2>
        <ul>
            <li>translate sheet music into midi music</li>
            <li>prototype a song</li>
            <li>experiment with chord progressions or different accompaniment styles </li>
            <li>compose using readable source code instead of proprietary files formats</li>
        </ul>
    </div>
    <div nz-col nzSm="24" nzMd="12">
        <h2 id="features">Features</h2>
        <ul>
            <li>open source</li>
            <li>a fast sheet music MIDI compiler</li>
            <li>a sheet music player</li>
            <li>accompaniment template rendering engine</li>
            <li><a href="https://www.lua.org/">Lua</a> script extensions</li>
        </ul>
    </div>
</div>