@import "../../../../mixins.scss";
@import "../../../../variables.scss";

.root {
    & > :nth-child(n) {
        @include color-scheme-2;
        .cta {
            background-color: rgba($wm-bg-color-2, 0.9);
            a {
                color: white;
            }
        }
    }
    & > :first-child {
        @include color-scheme-1;
        .hero-row {
            & > [nz-col] {
                min-height: 83vh;
            }
        } 
    }    
}


.hero-row {
    & > [nz-col] {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & > div {
            padding: 25px;
            align-self: center;
            @include if-xs-or-smaller {
                padding: 5px;
            }
        }
        @include if-xs-or-smaller {
            width: 100%;
        }
    }
    ul.reasons {
        text-align: left;
        padding-left: 0px;
        li {
            &::before {
                content: '+';
                margin-right: 10px;
            }
            list-style-type: none;
        }
    }
    .ant-btn-lg {
        line-height: 49px;
        font-size: 23px;
        height: 51px;
    }

    .cta {
        text-align: center;
    }

    &.intro {
        text-align: center;
        h1 {
            margin-bottom: 1em;
            font-weight: bold;
        }
        werckmeister-snippet {
            text-align: left;
            margin: 1em auto 0 auto;
            width: 80%;
            display: block;
            @include if-md-or-smaller {
                width: 100%;
            }    
        }
    }
}

.hero-image {
    max-width: 90%;
    margin: 0 auto;
    display: block;
    @include if-md-or-smaller {
        max-width: 100%;
    }    
}

.examples {
    text-align: left;
    display: grid;
    gap: 0 80px;
    margin: 2em 0 50px 0;
    grid-template-columns: auto auto;
    padding: 20px;
    li {
        list-style: none;
    }
}

.system-icons {
    font-size: 40px;
    .icon + .icon {
        margin-left: 2em;
    }
    margin: 1em auto;
}

.img-vscode {
    background-image: url('/assets/images/monitor_vscode.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.img-sheet {
    background-image: url('/assets/images/sheet.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}