<h2>Tracks</h2>

<p>
	A <span werckmeister></span> piece is built of tracks and voices. 
	A track can have an arbitrary number of voices, but at least there has to be one voice.<br>
	A track is embraced by brackets (<code>[]</code>), a voice by curled braces (<code>&#123;&#125;</code>).
	<br>
	So the shortest valid <span werckmeister></span> piece would be: "<code>"[&#123;&#125;]"</code>"
</p>

<tutorialsnippet stitle="a track with one voice" [lineOffset]="5" [lineHeight]="14" [file]="files[0]" (isReady)="onSnippetIsReady()"></tutorialsnippet>

<tutorialsnippet stitle="a track with two voices" [lineOffset]="5" [lineHeight]="17" [file]="files[1]" (isReady)="onSnippetIsReady()"></tutorialsnippet>

<tutorialsnippet stitle="two tracks" [lineOffset]="5" [lineHeight]="23" [file]="files[2]" (isReady)="onSnippetIsReady()"></tutorialsnippet>


<div class="tutorial-end">
	<a href [style.visibility]="hasPrev ? 'visible' : 'hidden'" (click)="prev($event)">previous</a>
	<a href (click)="toc($event)">back to overview</a>
	<a href [style.visibility]="hasNext ? 'visible' : 'hidden'" (click)="next($event)">next</a>
</div>