<div class="werckmeister-online-editor">
    <h1>Online Editor</h1>
    <button (click)="save()">Save</button>
    <werckmeister-workspace #workspace></werckmeister-workspace>
    <div class="editor-main" #editorMain>
        <div class="filelist">
            <ul>
                <li (click)="onFileClicked(file)" *ngFor="let file of files">{{file.path}}</li>
            </ul>
        </div>
        <werckmeister-editor [ngClass]="{active: currentFile===file}" *ngFor="let file of files" [attr.wm-filename]="file.path" wm-style="height: 100%; width: 100%;">
        </werckmeister-editor>

    </div>
</div>