 @import "../../../../variables.scss";

$selectedFile: rgb(55, 55, 61);
.editor-main {
    display: flex;
}


::ng-deep .werckmeister-online-editor .ant-progress {
    position: fixed;
    top: -12px;
    z-index: 100;
    left: 2px;
}

.transport-display {
    input {
        font-family: "Roboto Condensed";
        font-size: 39px;
        text-align: right;
        height: 53px;
        width: 77px;
        color: white;
        margin-top: 7px;
        text-align: center;
        background: none;
        border: 2px solid white;
        &:disabled {
            opacity: 0.7;
        }
    }
}

.filelist {
    padding-top: 5px;
    border-right: 2px solid #1b1b1b;
    button {
        color: black;
    }
    font-family: monospace;
    font-size: 14px;
    min-width: 200px;
    white-space: nowrap;
    min-height: 500px;
    background-color: $fileListBgColor;
    color: white;
    ul {
        padding: 0px;
    }
    li {
        padding: 5px;
        list-style: none;
        cursor: pointer;
        &.selected {
            background: $selectedFile;
        }
    }
}

werckmeister-editor {
    flex-grow: 1;
    display: none;
    height: calc(100vh - 67px);;
    overflow: hidden;
    font-size: 14px;
    &.active {
        display: block;
    }
}

.werckmeister-online-editor.is-dirty {
    .has-dirty-workspace-mark {
        &::after {
            content: '*';
        }
    }
}

.new-file-list {
    padding: 0px;
    li {
        list-style-type: none;
    }
}

.filemenu {
    width: 100%;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    button {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 8px;
        span {
            font-size: 10px;
            margin-left: 0px;
        }
        &:hover {
            color: $edActiveColor;
        }
    }
    span {
        text-transform: uppercase;
    }
}

::ng-deep .werckmeister-online-editor .filemenu {
    .ant-btn > .anticon + span {
        margin-left: 0px;
    }
}

.logo {
    height: 65px;
    margin: 0 0px 0 15px;
    margin-left: 0px;
}

nz-header {
    padding: 0;
    height: 67px;
    background-color: $edDarker;
}

.top-menu {
    display: flex;
    justify-content: space-between;
}

.right-side {
    margin-top: 9px;
    margin-right: 1em;
    font-size: 16px;
    a {
        color: white;
        & + a {
            &::before {
                content: '|';
                margin: 0 10px;
            }
        }
    }
}

#editor-navbar {
    background: $edDarker;
    border-bottom: none;
    white-space: nowrap;
    button {
        color: white;
        i {
            margin-right: 0px;
        }
        &:hover, &:focus {
            color: white;
        }
    }
    li.ant-menu-item-selected {
        color: white;
        border-bottom: 2px solid transparent;
    }
    li:hover {
        border-bottom: 2px solid $activeColor
    }
    #last-item {
        transition: none;
        position: absolute;
        right: 0;
        top: 13px;
        &:hover {
            color: white;
            border: none;
        }
        a {
            color: white;
        }
    }
}

