$edBgColor:  #1e1e1e;
$fileListBgColor: #252526;
$selectedFile: rgb(55, 55, 61);
.editor-main {
    display: flex;
}

.filelist {
    button {
        color: black;
    }
    font-family: monospace;
    font-size: 14px;
    min-width: 200px;
    white-space: nowrap;
    min-height: 500px;
    background-color: $fileListBgColor;
    color: white;
    ul {
        padding: 0px;
    }
    li {
        padding: 5px;
        list-style: none;
        cursor: pointer;
        &.selected {
            background: $selectedFile;
        }
    }
}

werckmeister-editor {
    flex-grow: 1;
    display: none;
    &.active {
        display: block;
    }
}

.werckmeister-online-editor.is-dirty {
    .has-dirty-workspace-mark {
        &::after {
            content: '*';
        }
    }
}

.new-file-list {
    padding: 0px;
    li {
        list-style-type: none;
    }
}

.filemenu {
    width: 100%;
    display: flex;
    padding: 5px;
    justify-content: flex-end;
}
