-- violin 1
instrumentDef:Vl1 		  _onDevice=MyDevice  _ch=0 _pc=48;
-- violin 2 
instrumentDef:Vl2 		  _onDevice=MyDevice  _ch=1 _pc=48;
instrumentConf:Vl2 mod trills volume 80 pan 70;
-- viola
instrumentDef:Vla 		  _onDevice=MyDevice  _ch=2 _pc=41; 
instrumentConf:Vla volume 60;
-- cello
instrumentDef:Vcl 		  _onDevice=MyDevice  _ch=3 _pc=48; -- the cello sound of FluidR3_GM doesn't fit very well 
instrumentConf:Vcl volume 60;

-- ebass
instrumentDef:ebass 		  _onDevice=MyDevice  _ch=4 _pc=38;
instrumentConf:ebass volume 50;

-- piano
instrumentDef:pno 		  _onDevice=MyDevice  _ch=5 _pc=5;
instrumentConf:pno volume 65 pan 20;

-- drums
instrumentDef:drums 	  _onDevice=MyDevice  _ch=9 _pc=0;
instrumentConf:drums volume 60;

-- lead 
instrumentSection: _setName=lead pno Vl2;