<div nz-row [nzGutter]="{xs: 0, sm: 20, md: 20, lg: 40, xl: 40, xxl: 40}">


    <div nz-col [nzXs]="confXs" [nzSm]="confSm" [nzMd]="confMd" [nzXl]="confXl" [nzXXl]="confXXl">
        <nz-card [nzTitle]="vstForxTitle" class="song-card" [nzCover]="vstforxCover" [nzActions]="[vstforxDownloadWindows32, vstforxDownloadWindows64, vstforxDownloadMac]">
            VSTForx is a creative effect network creation tool which comes as a VST plugin. You can load any number
            of VST-plugins and connect them anyway you want.
        </nz-card>
        <ng-template #vstForxTitle>
            <h2>VSTForx</h2>
        </ng-template>
        <ng-template #vstforxCover>
            <img alt="VSTForx teaser image" width="568px" height="320px"  src="/assets/images/vstforx.png">
        </ng-template>
        <ng-template #vstforxDownloadWindows32>
            <a nz-button href="https://www.vstforx.de/downloads/VSTForx-1.0.72-win.zip"><i nz-icon nzType="windows"></i>Win32</a>
        </ng-template>
        <ng-template #vstforxDownloadWindows64>
            <a nz-button href="https://www.vstforx.de/downloads/VSTForx-1.0.72-win64.zip"><i nz-icon nzType="windows"></i>Win64</a>
        </ng-template>
        <ng-template #vstforxDownloadMac>
            <a nz-button href="https://www.vstforx.de/downloads/VSTForx-1.0.72-mac.zip"><i nz-icon nzType="apple"></i>Mac</a>
        </ng-template>
    </div>

    <div nz-col [nzXs]="confXs" [nzSm]="confSm" [nzMd]="confMd" [nzXl]="confXl" [nzXXl]="confXXl">
        <nz-card [nzTitle]="vebRungsnTitle" class="song-card" [nzCover]="vebRungsnCover" [nzActions]="[vebRungsnDownloadWindows32, vebRungsnDownloadWindows64, vebRungsnDownloadMac]">
            VEB RUNGsn is a step sequencer effect where you can load 4 VST (fx) plugins and assign them to a 8x4 state matrix.
        </nz-card>
        <ng-template #vebRungsnTitle>
            <h2>VEB Rungsn</h2>
        </ng-template>
        <ng-template #vebRungsnCover>
            <img alt="VEB Rungsn teaser image" width="568px" height="320px"  src="/assets/images/vebrungsn.jpg">
        </ng-template>
        <ng-template #vebRungsnDownloadWindows32>
            <a nz-button href="https://www.vstforx.de/downloads/Rungsn-1.0.0-win.zip"><i nz-icon nzType="windows"></i>Win32</a>
        </ng-template>
        <ng-template #vebRungsnDownloadWindows64>
            <a nz-button href="https://www.vstforx.de/downloads/Rungsn-1.0.0-win64.zip"><i nz-icon nzType="windows"></i>Win64</a>
        </ng-template>
        <ng-template #vebRungsnDownloadMac>
            <a nz-button href="https://www.vstforx.de/downloads/Rungsn-1.0.0-mac.zip"><i nz-icon nzType="apple"></i>Mac</a>
        </ng-template>
    </div>

    <div nz-col [nzXs]="confXs" [nzSm]="confSm" [nzMd]="confMd" [nzXl]="confXl" [nzXXl]="confXXl">
        <nz-card [nzTitle]="hmuellerTitle" class="song-card" [nzCover]="hmuellerCover" [nzActions]="[hmuellerDownloadAll, hmuellerDownloadMac]">
            "HerrMueller's DX7" is a fancy editor for Yamaha's 80s synth. Features: Convenient Voice Set Manager, Voice Editor, Waveform Preview, Sysex Import.
        </nz-card>
        <ng-template #hmuellerTitle>
            <h2>Herr Müller</h2>
        </ng-template>
        <ng-template #hmuellerCover>
            <img alt="hmueller teaser image" width="568px" height="320px"  src="/assets/images/hmueller.png">
        </ng-template>
        <ng-template #hmuellerDownloadAll>
            <a nz-button href="https://www.vstforx.de/downloads/HerrMueller-1.01-all.zip">All Plattforms</a>
        </ng-template>
        <ng-template #hmuellerDownloadMac>
            <a nz-button href="https://www.vstforx.de/downloads/HerrMueller-1.01-mac.zip"><i nz-icon nzType="apple"></i>Mac</a>
        </ng-template>
    </div>

    <div nz-col [nzXs]="confXs" [nzSm]="confSm" [nzMd]="confMd" [nzXl]="confXl" [nzXXl]="confXXl">
        <nz-card [nzTitle]="hmuellerOnlineTitle" class="song-card" [nzCover]="hmuellerOnlineCover" [nzActions]="[hmuellerOnlineOnlineVisit]">
            "Herr Mueller' DX7 On-line" is a DX7 voice database and editor for your web browser. Features: Patch Database, Voice Editor, MIDI support.
        </nz-card>
        <ng-template #hmuellerOnlineTitle>
            <h2>Herr Müller Online</h2>
        </ng-template>
        <ng-template #hmuellerOnlineCover>
            <img alt="hmueller teaser image" width="568px" height="320px"  src="/assets/images/herrMuellerOnline.png">
        </ng-template>
        <ng-template #hmuellerOnlineOnlineVisit>
            <a nz-button target="blank" href="https://dx7.vstforx.de">Visit Herr Müller Online</a>
        </ng-template>
    </div>

</div>