ul {
    padding: 0px;
    margin: 0px;
    display: inline;
}

li {
    display: inline;
    list-style-type: none;
    padding: 2px;
    & + li::before {
        content: ">";
        padding: 5px;
        font-size: 1.2em;
        font-weight: bolder; 
    }
}