<nz-layout>
    <nz-header>
        <img class="logo" src="assets/images/Logo.png" alt="werckmeister logo">
        <ul nz-menu nzTheme="light" nzMode="horizontal">
            <li nz-menu-item>nav 1</li>
            <li nz-menu-item>nav 2</li>
            <li nz-menu-item>nav 3</li>
        </ul>
    </nz-header>
    <nz-content>
        <nz-layout>
            <nz-sider *ngIf="app.sideMenuItems.length > 0" [nzWidth]="200" style="background:#fff">
                <ul nz-menu [nzMode]="'inline'" style="height:100%">
                    <li *ngFor="let x of app.sideMenuItems" (click)="x.onClick($event)" nz-menu-item>{{x.title}}</li>
                </ul>
            </nz-sider>
            <nz-content class="inner-content">
                <div>
                    <router-outlet></router-outlet>
                </div>
            </nz-content>
        </nz-layout>
        <nz-footer>Werckmeister ©2020 by Samba Godschynski</nz-footer>
    </nz-content>
</nz-layout>