 .logo {
    height: 65px;
    margin: 0 24px 0 15px;
    float: left;
}

.ant-layout-header {
    background: initial;
}


.layout {
    height: 100vh;
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

nz-header {
    position: fixed;
    width: 100%;
}

[nz-menu] {
    line-height: 64px;
}

nz-content {
    padding: 0 50px;
    margin-top: 64px;
}

nz-breadcrumb {
    margin: 16px 0;
}

.inner-content {
    background: #fff;
    padding: 24px;
    min-height: 380px;
}

nz-footer {
    text-align: center;
}


.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.left-layout {
    height: 100vh;
}

nz-sider {
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 0;
    top: 75px;
}

.right-layout { 
    margin-left: 200px;
}

nz-header {
    background: #fff;
    padding: 0;
}

nz-content {
    margin: 24px 0 75px;
    overflow: initial;
}

.inner-content {
    padding: 24px;
    background: #fff;
    text-align: center;
}

nz-footer {
    text-align: center;
}