 .logo {
    height: 65px;
    margin: 0 24px 0 15px;
    float: left;
}

[nz-menu] { 
    line-height: 64px;
}

nz-breadcrumb {
    margin: 16px 0;
}

nz-content, nz-header {
    padding: 0 5%;
}

nz-header {
    margin-bottom: 24px;
}

nz-footer {
    text-align: center;
}

nz-content.inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
}

.ant-layout-header {
    background: initial;
}


.ant-menu-inline {
    border-right: none;
}