 .logo {
    height: 65px;
    margin: 0 24px 0 15px;
    float: left;
}

[nz-menu] { 
    line-height: 64px;
}

nz-breadcrumb {
    margin: 16px 0;
}

nz-content, nz-header {
    padding: 0 5%;
}

nz-footer {
    text-align: center;
}

.inner-content {
    background: #fff;
  //  padding: 24px;
    min-height: 280px;
}

.ant-layout-header {
    background: initial;
}

.inner-content.ant-layout-content {
    padding: 0;
}

.ant-menu-inline {
    border-right: none;
}