 .logo {
    height: 65px;
    margin: 0 24px 0 15px;
    float: left;
    height: 63px;
    margin-left: 25px;
}

.ant-layout-header {
    background: initial;
}


.layout {
    height: 100vh;
}

.ant-layout {
    background: white;;
}

nz-header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background: #fff;
    padding: 0;
    ul {
        li:first-child {
            margin-left: 122px;
        }
    }
}

[nz-menu] {
    line-height: 64px;
}

nz-content {
    padding: 0 50px;
    margin-top: 64px;
    margin: 25px 0 82px 75px;
    overflow: initial;
    width: 100%;
}

nz-breadcrumb {
    margin: 16px 0;
}

.inner-content {
    background: #fff;
    padding: 40px;
    min-height: 380px;
}

.left-layout {
    height: 100vh;
}

nz-sider {
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 0;
    top: 65px;
}

.right-layout { 
    margin-left: 200px;
}

nz-footer {
    text-align: center;
}