<nz-layout>
    <nz-header>
        <img class="logo" src="assets/images/Logo.png" alt="werckmeister logo">
        <ul nz-menu nzTheme="light" nzMode="horizontal">
            <li nz-menu-item>nav 1</li>
            <li nz-menu-item>nav 2</li>
            <li nz-menu-item>nav 3</li>
        </ul>
    </nz-header>
    <nz-content>
        <nz-breadcrumb>
            <nz-breadcrumb-item>Home</nz-breadcrumb-item>
            <nz-breadcrumb-item>List</nz-breadcrumb-item>
            <nz-breadcrumb-item>App</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
    <nz-footer>Werckmeister ©2020 by Samba Godschynski</nz-footer>
</nz-layout>