<nz-layout>
    <nz-header class="xs d-block d-sm-none">
        <lib-mobile-app-menu [(isOpen)]="mobileMenuOpen">
            <List>
                <ListItem>
                    <a [routerLink]="['werckmeister']">Werckmeister</a>
                </ListItem>                                                                              
            </List>
        </lib-mobile-app-menu>
    </nz-header>
    <nz-header class="desktop d-none d-sm-block">
        <img class="logo" src="assets/images/Logo.png" alt="werckmeister logo">
        <ul nz-menu nzTheme="light" nzMode="horizontal">
            <li nz-menu-item [routerLinkActive]="['ant-menu-item-selected']"><a [routerLink]="['werckmeister']">Werckmeister</a></li>
            <li nz-menu-item [routerLinkActive]="['ant-menu-item-selected']"><a [routerLink]="['getting-started']">Getting Started</a></li>
            <li nz-menu-item [routerLinkActive]="['ant-menu-item-selected']"><a [routerLink]="['manual']">Manual</a>
            </li>
            <li nz-menu-item [routerLinkActive]="['ant-menu-item-selected']"><a href="/examples">Examples</a></li>
            <li nz-menu-item [routerLinkActive]="['ant-menu-item-selected']"><a [routerLink]="['code-extension']">Visual Studio Code</a></li>
            <li nz-menu-item [routerLinkActive]="['ant-menu-item-selected']"><a [routerLink]="['contact']">Contact</a>
            </li>
        </ul>
    </nz-header>
    <nz-content>
        <nz-layout>
            <nz-content class="inner-content">
                <div>
                    <router-outlet></router-outlet>
                </div>
            </nz-content>
        </nz-layout>
    </nz-content>
</nz-layout>