<h2>Templates & Accompaniment</h2>

<p>
	template meant as a notation template: instead of writing absolute notes<sup>*</sup>, you use relative degrees. <br>
	For example <code>I4</code> means the first degree as a quarter note.
</p>

<p>
	To transform these relative degrees into absolute notes it needs a chord. <br>
	Chords are defined in a sheet track.
</p>

<hr>
<sup>*) although it's valid to write absolute notes into a template track</sup>


<tutorialsnippet stitle="a template and a sheet track" [lineOffset]="10" [lineHeight]="21" [file]="files[0]" (isReady)="onSnippetIsReady()"></tutorialsnippet>


<p>
	So with a chord we are able to determine absolute pitches. These pitches are the base material to resolve relative degree notes.<br>
</p>


<img src="/assets/images/Werckmeister Templates.svg">


<tutorialsnippet stitle="a bit more sophisticated example" [lineOffset]="5" [lineHeight]="28" [file]="files[1]" (isReady)="onSnippetIsReady()"></tutorialsnippet>

<tutorialsnippet stitle="quite the same, but now with an extra bass track" [lineOffset]="5" [lineHeight]="38" [file]="files[2]" (isReady)="onSnippetIsReady()"></tutorialsnippet>



<div class="tutorial-end">
	<a href [style.visibility]="hasPrev ? 'visible' : 'hidden'" (click)="prev($event)">previous</a>
	<a href (click)="toc($event)">back to overview</a>
	<a href [style.visibility]="hasNext ? 'visible' : 'hidden'" (click)="next($event)">next</a>
</div>