<div class="werckmeister-wizzard">
    <h2>Werckmeister Wizzard</h2>
    <h3><nz-alert nzType="warning" nzMessage="work in progress"></nz-alert></h3>
    <nz-progress *ngIf="playerPrepareProgressPercent !== null" nzStatus="normal" [nzShowInfo]="false"
        [nzPercent]="playerPrepareProgressPercent"></nz-progress>
    <div class="configurator">
        <nz-select nzShowSearch nzPlaceHolder="input search text" [nzShowArrow]="false" [(ngModel)]="selectedGenre" (ngModelChange)="switchGenre($event)">
            <nz-option *ngFor="let style of styles | keyvalue" [nzValue]="style.key" [nzLabel]="style.key"></nz-option>
        </nz-select>
    </div>
    <button nz-button nzType="primary" (click)="play()">Play</button>
    <div class="editor">
        <werckmeister-workspace #workspace wm-css-url="/assets/werckmeister-wizzard.css">
        </werckmeister-workspace>
        <textarea #chords rows="4" cols="50">A-7    | D7    | Gmaj7  | 
Cmaj7  | F#-7b5 | B7    | E- </textarea>
    </div>
    <button nz-button nzType="primary" (click)="createProject()">Create Project</button>
</div>