nz-select {
    width: 100%;
}

::ng-deep .werckmeister-wizzard .ant-progress {
    position: fixed;
    top: -10px;
    z-index: 100;
    left: 0px;
}


textarea {
    font-family: 'Gloria Hallelujah';
    color: black;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
}

nz-input-group {
    padding: 4.5px !important;
}

svg.prefix-icon {
    fill: #a7a7a7;
}

.volume-control input, .tempo-control input {
    text-align: right;
}

.tempo-control {
    height: 33px;
    margin-top: 6px;
}

.labels {
    margin-top: 1em;
    font-size: 0.7em;
}