<div class="werckmeister-wizzard">

    <h2>Werckmeister Wizzard</h2>

    <h3>
        <nz-alert nzType="warning" nzMessage="work in progress"></nz-alert>
    </h3>

    <nz-progress *ngIf="playerPrepareProgressPercent !== null" nzStatus="normal" [nzShowInfo]="false"
        [nzPercent]="playerPrepareProgressPercent"></nz-progress>

    <div class="configurator">

        <div class="genre" nz-row [nzGutter]="[15, 15]">
            <nz-select [disabled]="isPlaying" nz-col [nzSpan]="24" nzShowSearch nzPlaceHolder="find genre" [nzShowArrow]="false"
                [(ngModel)]="selectedGenre" (ngModelChange)="switchGenre($event)">
                <nz-option *ngFor="let style of styles | keyvalue" [nzValue]="style.key" [nzLabel]="getGenreDisplayName(style.key)">
                </nz-option>
            </nz-select>

        </div>

        <div class="details">

            <div nz-row [nzGutter]="[15, 15]" nzAlign="middle"
                *ngFor="let instrument of workspaceModel.instrumentGroups; index as index">
                <nz-select [disabled]="isPlaying" nz-col [nzSpan]="7" nzShowSearch nzPlaceHolder="find instrument group" [nzShowArrow]="false"
                    [ngModel]="instrument.metaData.instrumentGroup"
                    (ngModelChange)="resetInstrumentSelection(index, $event)">
                    <nz-option *ngFor="let instrumentName of allInstruments" [nzLabel]="getInstrumentDisplayName(instrumentName)"
                        [nzValue]="instrumentName">
                    </nz-option>
                </nz-select>
                <nz-select [disabled]="isPlaying" nz-col [nzSpan]="7" [compareWith]="styleComparer" nzShowSearch nzPlaceHolder="find template"
                    [nzShowArrow]="false" [ngModel]="workspaceModel.instrumentGroups[index]"
                    (ngModelChange)="changeTemplate($event, index)">
                    <nz-option *ngFor="let style of findInstruments(instrument.metaData.instrumentGroup)" [nzValue]="style"
                        [nzLabel]="getTemplateDisplayName(style.id)">
                    </nz-option>
                </nz-select>
                <nz-select [disabled]="isPlaying" nz-col [nzSpan]="7" nzShowSearch nzPlaceHolder="find GM instrument" [nzShowArrow]="false"
                    [(ngModel)]="instrument.pcNumber">
                    <ng-container *ngFor="let gmInstrumentName of instrument.metaData.instrumentGroup === 'drums' ? fluidSynthGmDrums : gmInstruments; index as gmId">
                        <nz-option  *ngIf="gmInstrumentName !== null" [nzValue]="gmId"
                            [nzLabel]="gmInstrumentName">
                        </nz-option>
                    </ng-container>
                </nz-select>
                <nz-input-group class="volume-control" nz-col [nzSpan]="2" [nzPrefix]="volumeIcon">
                    <input [disabled]="isPlaying" nz-input type="number" min="0" max="100" [(ngModel)]="instrument.volNumber" />
                </nz-input-group>
                <a [disabled]="!canRemove || isPlaying" (click)="removeInstrument(index)" nz-col [nzSpan]="1" nz-button
                    nzType="link"><i nz-icon nzType="minus" nzTheme="outline"></i></a>
            </div>
            <div nz-row [nzGutter]="[15, 15]">
                <a [disabled]="isPlaying" (click)="addNewInstrument()" nz-col [nzSpan]="1" [nzOffset]="23" nz-button nzType="link"><i nz-icon
                        nzType="plus" nzTheme="outline"></i></a>
            </div>
        </div>
    </div>

    <button *ngIf="!isPlaying" nz-button nzType="primary" (click)="play()">Play</button>
    <button *ngIf="isPlaying" nz-button nzType="primary" (click)="stop()">Stop</button>

    <div class="editor">
        <werckmeister-workspace #workspace wm-css-url="/assets/werckmeister-wizzard.css">
        </werckmeister-workspace>
        <textarea #chords rows="4" cols="50" spellcheck="false">A-7    | D7    | Gmaj7  | 
Cmaj7  | F#-7b5 | B7    | E- </textarea>
    </div>
    <button nz-button nzType="primary" (click)="createProject()">Create Project</button>
</div>

<ng-template #volumeIcon>
    <svg class="volume-icon" alt="volume" height="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M264 416.19a23.92 23.92 0 01-14.21-4.69l-.66-.51-91.46-75H88a24 24 0 01-24-24V200a24 24 0 0124-24h69.65l91.46-75 .66-.51A24 24 0 01288 119.83v272.34a24 24 0 01-24 24zM352 336a16 16 0 01-14.29-23.18c9.49-18.9 14.3-38 14.3-56.82 0-19.36-4.66-37.92-14.25-56.73a16 16 0 0128.5-14.54C378.2 208.16 384 231.47 384 256c0 23.83-6 47.78-17.7 71.18A16 16 0 01352 336z" />
        <path d="M400 384a16 16 0 01-13.87-24C405 327.05 416 299.45 416 256c0-44.12-10.94-71.52-29.83-103.95A16 16 0 01413.83 136C434.92 172.16 448 204.88 448 256c0 50.36-13.06 83.24-34.12 120a16 16 0 01-13.88 8z" />
    </svg>
</ng-template>