::ng-deep .werckmeister-wizzard .ant-progress {
    position: fixed;
    top: -10px;
    z-index: 100;
    left: 0px;
}

nz-select {
    width: 300px;
}

textarea {
    font-family: 'Gloria Hallelujah';
    color: black;
    padding: 15px;
    border-radius: 5px;
}