<ng-template #titleTmpl>
    <h4>Werckmeister for {{title}}</h4>
</ng-template>
<nz-card *ngIf="download" [nzTitle]="titleTmpl">
    <nz-descriptions [nzTitle]="download.name" [nzColumn]="1">
        <nz-descriptions-item nzTitle="File Size">{{ (download.size / 1024 / 1024).toFixed(2) }} MB</nz-descriptions-item>
    </nz-descriptions>
    <b>Installation:</b><br>
    <div class="installation-text" [innerHtml]="download.installation"></div>
    <a nz-button nzType="primary" [href]="download.browser_download_url"><i nz-icon [nzType]="download.icon"></i> Download</a>
</nz-card>