-- TEMPO: 120
-- SIGNATURE: 4/4
-- PARTS: normal, end
-- INSTRUMENTDEF: _pc=33
-- INSTRUMENTCONF: volume 100
[
type: template;
name: bass.country.normal;
instrument: bass; 
{
    I,,4. I,,8 V,,,4. V,,,8 |
}   
] 

[
type: template;
name: bass.country.end;
instrument: bass; 
{
    I,,1 |
}   
] 