-- TEMPO: 115
-- SIGNATURE: 4/4
-- PARTS: normal
-- INSTRUMENTDEF: _pc=33
-- INSTRUMENTCONF: volume 100

[
type: template;
name: bass.countryShuffle.normal;
instrument: bass; 
{
    \ff
    I,,4  III,,  V,,  (III,,4   V,,8)4
}
]