-- TEMPO: 155
-- SIGNATURE: 4/4
-- PARTS: normal
-- INSTRUMENTDEF: _pc=33
-- INSTRUMENTCONF: volume 100

[
type: template;
name: bass.jazzSwing.normal;
instrument: bass; 
{
    I,,2  V,, | 
    I,,   V,,,4 I,, |
}

]
