-- TEMPO: 140
-- SIGNATURE: 3/4
-- PARTS: normal
-- INSTRUMENTDEF: _pc=33
-- INSTRUMENTCONF: volume 100 voicingStrategy simple _importantDegree=IV
-- USINGS: ["/lua/voicings/simple.lua"]
-- #not-listed
[
type: template;
name: bass.clickclack.normal;
instrument: bass;
{
    /signature: 3 4/
    <IV,,,>4. <III,,,>8 <I,,,>4 |
}
]