-- TEMPO: 146
-- SIGNATURE: 4/4
-- PARTS: normal
-- INSTRUMENTDEF: _pc=42
-- INSTRUMENTCONF: volume 100 pan 100
-- AUX: ["cello.neverendingDoldinger.conductions"]

[
type: template;
name: cello.neverendingDoldinger.normal;
instrument: cello;
{
    <III, I>8 & & <!II, I> <III, I> & <!II, I>  <III, I> |
    & <!II, I> <III, I>   & <!II, I> <III, I> & <!II, I> |
}
]