-- tempo: 120
-- signature: 4/4
-- parts: normal
-- INSTRUMENTCONF: mod swing _grid=8 _offset=60
-- USINGS: ["/lua/mods/swing.lua"]
-- AUX: ["drums.blues.conductions"]
[
type: template;
name: drums.blues.normal;
instrument: drums; 
{
    (h &  &)4     (h  &  &)4     (h  &  &)4     (h  &  &)4     |
}
{
    r4 x r x  |
}
{
    o8 &   r &   & &   r & |
}
]