-- TEMPO: 200
-- SIGNATURE: 4/4
-- PARTS: normal
-- INSTRUMENTCONF: volume 100 mod swing _offset=70
-- USINGS: ["/lua/mods/swing.lua"]


[
type: template;
name: drums.jazzQuintett.normal;
instrument: drums; 
{
    \p
    "ht"4   !f&8 &    &4     !f&8 & |
}
{
    \pp
    "bd"2 !ppp& |
}
]