-- tempo: 120
-- signature: 4/4
-- parts: normal
[
type: template;
name: drums.bossanova.normal;
instrument: drums;
{
    h8 !fh h !fh   h h h !fh |
}    
{
    r4 x'8 r4 x'8 r4 | x'4. x'8 r4 x' |
}    
{
    o4. &8 &4. &8 |
}      
]