-- tempo: 115
-- signature: 4/4
-- parts: normal
-- INSTRUMENTDEF: _pc=25
-- INSTRUMENTCONF: volume 100 pan 80

[
type: template;
name: guitar.countryShuffle.normal;
instrument: guitar; 
{
    r4  <I III>2   &4~ | &  &2       &4  |
}
{
    I,   V,  V,,  V,   | I,  V,  V,, V,  |
}
]