-- TEMPO: 120
-- SIGNATURE: 4/4
-- PARTS: normal
-- INSTRUMENTDEF: _pc=26
-- INSTRUMENTCONF: volume 60
-- AUX: ["guitar.funkytown.conductions"]
-- USINGS: ["/lua/mods/myArpeggio.lua"]
[
type: template;
name: guitar.funkytown.normal;
instrument: guitar;
{
   /modOnce: myArpeggio _direction="down"/ <I V III VII>16~ &8 &16 "emph"@<I V III VII> r8.
   "ghost"@<I V III VII>4 "ghost"@<I V III VII>4   |
}
]