-- TEMPO: 140
-- SIGNATURE: 3/4
-- PARTS: normal
-- INSTRUMENTDEF: _pc=0
-- INSTRUMENTCONF: volume 75 voicingStrategy simple _importantDegree=IV
-- USINGS: ["/lua/voicings/simple.lua"]
-- #not-listed

[
type: template;
name: piano.clickclack.normal;
instrument: piano;
{
    /signature: 3 4/
    <IV,,,>4. <III,,,>8 <I,,,>4 |
}
]