-- TEMPO: 75
-- SIGNATURE: 4/4
-- PARTS: normal
-- INSTRUMENTDEF: _pc=0
-- INSTRUMENTCONF: volume 75 mod staccato
-- USINGS: [ "/lua/mods/staccato.lua"]


[
type: template;
name: piano.rockBallad.normal;
instrument: piano; 
{
    <I II III IV V VI VII>4 &&& | &&& &8 I |
}
{
    <I,,, VII>8  I,,  VII  V,,,    <I,,, VII>8  I,,  VII  V,,, |
    <I,,, VII>8  I,,  VII  V,,,    <I,,, VII>8  I,,  VII  V,,,16 VII |
}
]
