-- TEMPO: 120
-- SIGNATURE: 4/4
-- PARTS: normal
-- INSTRUMENTDEF: _pc=0
-- INSTRUMENTCONF: volume 75 pan 25
[
type: template;
name: piano.bossanova.normal;
instrument: piano; 
{
    <VII, VII>4 <III, V,>8 <V, V>8 r8 <III, V,>8 r8 <V, V> | 
    r8 <III, V,>8 r8 <V, V> r8 <III, V,> r8 <VII, VII>     |
}    
] 
