-- tempo: 120
-- signature: 4/4
-- parts: normal
[
type: template;
name: rhythm.soca.normal;
instrument: rhythm; 
{
    r16 !p<I II III IV V VI VII> !f& !ff&     !pI  !p<I II III IV V VI VII> !f& !ff&
    !ppI!p<I II III IV V VI VII> !f& !ff&     !pI  !p<I II III IV V VI VII> !f& !p&| 
}
]