-- tempo: 115
-- signature: 4/4
-- parts: normal
-- instrumentConfs: { "rhythm2": "voicingStrategy simple _importantDegree=\"II VI\"" }
[
type: template;
name: rhythm.countryShuffle.normal;
instrument: rhythm; 
{
    r4  <I III>2   &4~ | &  &2       &4  |
}
{
    I,   V,  V,,  V,   | I,  V,  V,, V,  |
}
]