
<h1 id="getting-started">Getting Started</h1>

<p>Go to the page <a href="https://github.com/werckme/werckmeister/releases">https://github.com/werckme/werckmeister/releases</a> and download the most recent version of Werckmeister.</p>
<p>On Mac and on Linux you can install the binaries by executing the installer script.</p>
<h2 id="mac">Mac</h2>
<pre><code><![CDATA[sudo sh werckmeister-x.x.x-Darwin.sh --prefix=/usr/local --exclude-subdir]]></code></pre><h2 id="linux">Linux</h2>
<pre><code><![CDATA[sudo sh werckmeister-x.x.x-Linux.sh --prefix=/usr/local --exclude-subdir]]></code></pre><h2 id="windows">Windows</h2>
<p>Just execute the installer.</p>
<h2 id="all-done-what-now">All done, what now?</h2>
<p>After the installation, two executables should be available:</p>
<ul>
<li><code>sheetc</code> a sheet file compiler  </li>
<li><code>sheetp</code> a sheet file player</li>
</ul>
<p>Open a command line shell: <code>cmd</code> on windows or <code>terminal</code> on Mac.</p>
<p>Type into the terminal:</p>
<pre><code><![CDATA[sheetc --help]]></code></pre><p>You should get an output like this:</p>
<pre><code><![CDATA[  --help                produce help message
  --input arg           input file
  --output arg          output file
  ...]]></code></pre><p>If not, please make sure that the werckmeister <code>bin</code> path of your installation is written into your <code>PATH</code> environment variable.</p>
<h2 id="compiler">Compiler</h2>
<p>Run <code>sheetc aSheetFile.sheet</code> to compile a sheet file into a MIDI file.</p>
<h2 id="player">Player</h2>
<p>To playback a sheet file you can do this by executing <code>sheetp</code>.
Just as with the compiler type in <code>sheetp</code> and then the file you want to playback.</p>
<pre><code><![CDATA[sheetp aSheetFile.sheet]]></code></pre><p>In order to get an sheet file played via MIDI, you have to configure set your MIDI ports. </p>
<p>Have a look <a pageScroll [pageScrollDuration]="0" [pageScrollOffset]="66" [routerLink]="['//manual']" fragment="adding-a-device">here</a> to see how it&#39;s done.</p>
<h2 id="examples">Examples</h2>
<p>To get a good impression of what is possible and how it can be achieved, it is recommended to have a look at the example sheets.</p>
<p>To can find them in your installation folder under <code>shared/werckmeister/examples</code>. Or download them from <a href="https://github.com/werckme/werckmeister/tree/master/examples">here</a>.</p>
<p>You find the examples here:</p>
<table class="table table-bordered">
<thead>
<tr>
<th>System</th>
<th>Location</th>
</tr>
</thead>
<tbody><tr>
<td>Windows</td>
<td>C:\Program Files (x86)\werckmeister x.x.x\share\werckmeister\examples</td>
</tr>
<tr>
<td>Mac</td>
<td>/usr/local/share/werckmeister/examples</td>
</tr>
<tr>
<td>Linux</td>
<td>/usr/local/share/werckmeister/examples</td>
</tr>
<tr>
<td><em>(it may differs to your machine, depending on where you installed werckmeister)</em></td>
<td></td>
</tr>
</tbody></table>
<h2 id="the-werckmeister-visual-studio-code-extension">The Werckmeister Visual Studio Code Extension</h2>
<p>The recommended way to edit Werckmeister sheet files, is using Visual Studio Code with the
 Werckmeister extension. It supports playback right from the editor. With visual feedback and error/warning highlighting.</p>
<p>Have a look <a href="/code-extension">here</a>.</p>
<h2 id="using-werckmeister-along-with-a-daw">Using Werckmeister along with a DAW</h2>
<p>All you need is to connect the <code>sheetp</code> player with the MIDI inputs of your DAW.</p>
<p>On Windows there is some third party software for that purpose. In my opinion <a href="https://www.tobias-erichsen.de/software/loopmidi.html">loopMIDI</a> does a pretty good job.</p>
