
<h1 id="manual">Manual</h1>

<h2 id="i-want-to-">I want to ...</h2>
<p><a [routerLink]="['./']" fragment="its-just-text">... get an impression of what I have to face if I want to learn Werckmeister</a></p>
<p><a [routerLink]="['./']" fragment="setup-a-piece">... setup a piece</a></p>
<p><a [routerLink]="['./']" fragment="write-melodies">... write melodies</a></p>
<p><a [routerLink]="['./']" fragment="write-for-drums">... write for drums</a></p>
<p><a [routerLink]="['./']" fragment="accomp-my-melodies">... accomp my melodies</a></p>
<p><a [routerLink]="['./']" fragment="chords">... setup my own chord symbols</a></p>
<h2 id="its-just-text">It&#39;s just text</h2>
<p>The Werckmeister language knows only a few statement types. It&#39;s all about tracks, voices, and events. That&#39;s it. 
<br>The remaining statements are just for configuration purposes.</p>
<p>A basic Werckmeister document will look like this:</p>
<tutorialsnippet lineHeight="25" lineOffset="0"><pre><code appWerckmeisterCode><![CDATA[-- CONFIG STUFF:
-- 1) configure your MIDI device
-- 2) define an instrument with the name piano
-- 3) set the tempo

-- 1)
--      name         type portnumber
device: MyMidiDevice midi 1;

-- 2)
--             name  device       ch pc cc
instrumentDef: piano MyMidiDevice 0  0  0;
-- (ch= channel, pc= programm change, cc= control change)

-- 3)
tempo: 130;

-- TRACKS, VOICES & EVENTS
-- now the actual musical statement, which is a track containing one voice with some note events
-- (the track is set up to use our piano instrument from above)
[
instrument: piano;
{
    c4 d e f | g1 --note events
}
]]]></code></pre></tutorialsnippet><h2 id="tracks-and-voices">Tracks and Voices</h2>
<p>A track in Werckmeister has excactly the same meanig as it has in a MIDI file.
It is related to an instrument and contains events.</p>
<p>A track begins with a <code>[</code> and ends with a <code>]</code>.</p>
<tutorialsnippet lineHeight="6" lineOffset="0"><pre><code appWerckmeisterCode><![CDATA[-- a track with one voice and an instrument setup

[
{
    c d e f | g a b c'
}
]]]></code></pre></tutorialsnippet><p>All events of a track are releated at least to one voice. A voice starts with <code>{{</code> and ends with <code>}}</code>.
If you want to write polyphonic melody lines, you can add more voices to your track. </p>
<p><img src="https://raw.githubusercontent.com/SambaGodschynski/werckmeister/master/assets/poly.png" alt="a polyphonic melody"></p>
<p>The melody above would be written like this:</p>
<tutorialsnippet lineHeight="10" lineOffset="0"><pre><code appWerckmeisterCode><![CDATA[-- a track with two voices

[
{
    g4  f#8 g  a4   g
}
{
    d4   d     d    d
}
]
]]></code></pre></tutorialsnippet><h2 id="events">Events</h2>
<p>There are a few event types:</p>
<h3 id="note-events">Note Events</h3>
<p>have a pitch and a duration, to be performed by a MIDI instrument.</p>
<pre><code><![CDATA[c d e f g]]></code></pre><h3 id="degree-events">Degree Events</h3>
<p>have a relative pitch degree and a duration. In combination with a chord, degree events can be transformed into regular note events.</p>
<pre><code><![CDATA[I II III IV V VI VII]]></code></pre><h3 id="chord-events">Chord Events</h3>
<p>Events which are related to a name. They also store the information which interval is used for a degree. These informations are stored in a <a [routerLink]="['./']" fragment="chords">chord definiton file</a>.</p>
<pre><code><![CDATA[C7 D-7 E-7 F7 Gmaj7 A-7]]></code></pre><h3 id="meta-events">Meta Events</h3>
<p>Events to set up something or loading a mod script.
<br>You can recognize meta events by its slashes at the beginning and the end.</p>
<tutorialsnippet lineHeight="5" lineOffset="7"><pre><code appWerckmeisterCode><![CDATA[tempo: 120;
device: MyDevice  midi 1;
instrumentDef:ex1  MyDevice  0 0 0;
[
instrument: ex1;
{


/tempo: 100/ -- meta event: set tempo to 100
c d e f |
/tempo: 50/
g a b c'




}
]]]></code></pre></tutorialsnippet><h2 id="setup-a-piece">Setup A Piece</h2>
<h3 id="using">Using</h3>
<p>The first thing you want to do in a Werckmeister document, is to load include other files to your project. This may be chord definitions, accomp. templates or modulation scripts.</p>
<p>To include a file use the <code>using</code> command.</p>
<pre><code><![CDATA[using "./chords/default.chords";]]></code></pre><p>The path of your file is written between double quotes (<code>&quot;</code>).</p>
<p>The path can be absolute or relative to the current document.
<em>(It is recommended to use relative path values)</em></p>
<h3 id="devices--instruments">Devices &amp; Instruments</h3>
<h4 id="adding-a-device">Adding a device</h4>
<p>To add a MIDI device to your project, use the device statement. With that statement, you have to choose a name and set a MIDI port for your new device.</p>
<p>device statement format:</p>
<p><code>device: aName midi aMidiPort [offset millis]</code></p>
<p>To see which devices with what port are connected to your device run the player with the <code>--list</code> argument: </p>
<pre><code><![CDATA[sheetp --list]]></code></pre><p>you will get a output like this:</p>
<pre><code><![CDATA[0: Midi Through
1: SC-8850 Part A
2: SC-8850 Part B
3: SC-8850 Part C
4: SC-8850 Part D
5: USB-Midi Port]]></code></pre><p>where the first number means the port number.</p>
<p>So lets say we want to add the <code>SC-8850 Part A</code> to our project, we write:</p>
<pre><code><![CDATA[device: MyRoland midi 1;]]></code></pre><p>To add a further MIDI port, for example a DX7 on the USB-Midi Port we add another line:</p>
<pre><code><![CDATA[device: MyRoland midi 1;
device: MyDX7 midi 5;]]></code></pre><p>Imagine your USB-Midi Port is a bit cheap and laggy. Every signal to your USB-Midi port has a delay of about 20 milliseconds. We can compensate this by adding a 20 milliseconds delay to the <code>MyRoland</code> device, so that this device and your laggy USB-Midi Port should be in sync. We do this by using an optional <code>offset</code> argument.</p>
<pre><code><![CDATA[device: MyRoland midi 1 offset 20;
device: MyDX7 midi 5;]]></code></pre><h4 id="adding-instruments">Adding instruments</h4>
<p>To adding instruments we using the <code>instrumentDef</code> statement, which is constructed like this:</p>
<p><code>instrumentDef: aInstrumentName aMidiDevice midiChannel midiControlChange midiProgramChange</code></p>
<p>Let&#39;s add an organ instrument which uses our Roland device from above:</p>
<p>The Roland SC-8850 offers, for example, a <code>Farf Organ</code>. So if I want to use this instrument on channel 0, I have to send a <code>cc=19 pc=17</code> sequence to the channel on this device.<br>A suitable <code>instrumentDef</code> statement would be look as follows: </p>
<pre><code><![CDATA[--             name      device   ch  cc  pc
instrumentDef: myFarfisa MyRoland 0   19   17;]]></code></pre><h4 id="configuring-instruments">Configuring instruments</h4>
<p>With an instrument added there are further options to configure it.
A config statement has as first argument the instrument name you want to configure followed by several optional config aruments.</p>
<p><code>instrumentConf: aInstrumentName [pan aValue] [volume aValue] [voicingStrategy aStrategyName] [mod aModName];</code></p>
<table class="table table-bordered">
<thead>
<tr>
<th>option</th>
<th>value</th>
<th>purpose</th>
</tr>
</thead>
<tbody><tr>
<td>volume</td>
<td>0..100</td>
<td>set the volume</td>
</tr>
<tr>
<td>pan</td>
<td>0..100</td>
<td>set the pan, 0=left, 50=center, 100=right</td>
</tr>
<tr>
<td>mod</td>
<td>aName [option value]</td>
<td>set a <a [routerLink]="['./']" fragment="Mods">mod</a></td>
</tr>
<tr>
<td>voicingStrategy</td>
<td>aName [option value]</td>
<td>set a <a [routerLink]="['./']" fragment="Voicing-strategies">voicingStrategy</a></td>
</tr>
</tbody></table>
<p>Now, as an example we set a volume value of 80 to our Farfisa organ, also we set the pan more to the left.</p>
<p><em>(the final result of these settings is strongly dependent by your actual MIDI device)</em> </p>
<pre><code><![CDATA[instrumentConf: myFarfisa volume 80 pan 20;]]></code></pre><h3 id="tempo">Tempo</h3>
<p>To set the tempo of your piece, write <code>tempo: aNumber</code>.</p>
<tutorialsnippet lineHeight="5" lineOffset="0"><pre><code appWerckmeisterCode><![CDATA[tempo 120;
[
{
    c d e f | g a b c'
}
]]]></code></pre></tutorialsnippet><p>Sometimes you want to setup diffent tempi for for several voices.
Then you have to add a tempo <a [routerLink]="['./']" fragment="meta-events">Meta Event</a> to your voice.</p>
<p><em>since MIDI doesn&#39;t support simultaneous tempi, we achive this effect by streching or shrinking the note durations in relation to the main tempo (Augmentation/Diminution). As an simple example: on double time we pay eights instead of fourths.</em></p>
<p>Here we play four voices on one track, with four different tempo configurations:</p>
<p><strong>There seems to be a bug on the webplayer (first notes are missing)</strong></p>
<tutorialsnippet lineHeight="19" lineOffset="0"><pre><code appWerckmeisterCode><![CDATA[tempo: 120;
[
{
    /tempo: double/
    c d e f | g a b c' | c d e f | g a b c'
}
{
    /tempo: half/
    c, d, e, f |
}
{
    /signature: 3 4/
    /tempo: 96/
   c e f | g b c'
}
{
    c,, d,, e,, f,, | g,, a,, b,, c,
}
]
]]></code></pre></tutorialsnippet><p>Also it is possible to change the tempo in between events:</p>
<tutorialsnippet lineHeight="15" lineOffset="0"><pre><code appWerckmeisterCode><![CDATA[tempo: 120;
[
{
    /tempo: double/
    c d e f | g a b c' |
    /tempo: half/
    c d e f | g a b c' |
    /signature: 3 4/
    /tempo: 96/
    c d e | f g a |
    /signature: 4 4/
    /tempo: normal/
    c d e f | g a b c' |
}
]
]]></code></pre></tutorialsnippet><h3 id="time-signatures">Time Signatures</h3>
<p>The time signature 4/4 by default.
If you want to setup a different time signature than the default, you can achieve this by using the signature <a [routerLink]="['./']" fragment="Meta-Events">meta event</a>.
With this you are able to setup different time signatures during a piece.</p>
<tutorialsnippet lineHeight="7" lineOffset="0"><pre><code appWerckmeisterCode><![CDATA[[
{
    /signature: 3 4/
    c e e | c e e |
    /signature: 4 4/
    c d e f | g a b c'
}
]]]></code></pre></tutorialsnippet><h3 id="key-signatures">Key Signatures</h3>
<p>key signatures are not supported.</p>
<h2 id="write-melodies">Write Melodies</h2>
<h3 id="notes">Notes</h3>
<p>The syntax is loosely inspired by the <a href="http://lilypond.org">lilypond</a> notation syntax. A note is just a letter followed by a number for its duration.</p>
<p><em>If a note has no duration, the last assigned duration will be used.</em></p>
<tutorialsnippet lineHeight="2" lineOffset="7"><pre><code appWerckmeisterCode><![CDATA[tempo: 120;
device: MyDevice  midi 1;
instrumentDef:ex1  MyDevice  0 0 0;
[
instrument: ex1;
{


c4 d e8 f


}
]]]></code></pre></tutorialsnippet><p><br><em>c and d will be played as quarter notes, e and f as eighth notes</em></p>
<p>the end of a bar is marked by a pipe: <code>|</code></p>
<tutorialsnippet lineHeight="2" lineOffset="7"><pre><code appWerckmeisterCode><![CDATA[tempo: 120;
device: MyDevice  midi 1;
instrumentDef:ex1  MyDevice  0 0 0;
[
instrument: ex1;
{


c d e f | g a b c'


}
]]]></code></pre></tutorialsnippet><h3 id="octaves">Octaves</h3>
<p>Lower octaves are marked by a comma (<code>,</code>) after the note, upper octaves by a single quote (<code>&#39;</code>).</p>
<tutorialsnippet lineHeight="2" lineOffset="7"><pre><code appWerckmeisterCode><![CDATA[tempo: 120;
device: MyDevice  midi 1;
instrumentDef:ex1  MyDevice  0 0 0;
[
instrument: ex1;
{


c,,  e,,  g,, b,, | c, e, g, b, | c e g b | c' e' g' b' | c'' e'' g'' b''


}
]]]></code></pre></tutorialsnippet><h3 id="accidentals">Accidentals</h3>
<p><code>#</code> raises a pitch by a half step.
<br> A <code>b</code> lowers it. </p>
<tutorialsnippet lineHeight="2" lineOffset="7"><pre><code appWerckmeisterCode><![CDATA[tempo: 120;
device: MyDevice  midi 1;
instrumentDef:ex1  MyDevice  0 0 0;
[
instrument: ex1;
{


c# d# f# g# | bb db' eb' gb'


}
]]]></code></pre></tutorialsnippet><h3 id="durations">Durations</h3>
<p>A numeric value after a note marks its duration.</p>
<tutorialsnippet lineHeight="2" lineOffset="7"><pre><code appWerckmeisterCode><![CDATA[tempo: 120;
device: MyDevice  midi 1;
instrumentDef:ex1  MyDevice  0 0 0;
[
instrument: ex1;
{


c2 c4 c8 c16 c32 c64 c128 r


}
]]]></code></pre></tutorialsnippet><h3 id="intervals-and-chords">Intervals and Chords</h3>
<p>Notes that have to sound simultaneous are written in angle brackets. The duration is written after the brackets.</p>
<p><img src="https://raw.githubusercontent.com/SambaGodschynski/werckmeister/master/assets/chords.png" alt="two chords"></p>
<tutorialsnippet lineHeight="2" lineOffset="7"><pre><code appWerckmeisterCode><![CDATA[tempo: 80;
device: MyDevice  midi 1;
instrumentDef:ex1  MyDevice  0 0 0;
[
instrument: ex1;
{


<g,, c e g bb>4   <c, c eb g bb>2.


}
]]]></code></pre></tutorialsnippet><h3 id="augmentation-dots--ties">Augmentation Dots &amp; Ties</h3>
<p>To write a augmentation dot (<code>.</code>) append a dot after a note duration value.
<br>For ties use a tilde (<code>~</code>) instead. </p>
<p><img src="https://raw.githubusercontent.com/SambaGodschynski/werckmeister/master/assets/dotsties.png" alt="dots and ties"></p>
<tutorialsnippet lineHeight="2" lineOffset="7"><pre><code appWerckmeisterCode><![CDATA[tempo: 120;
device: MyDevice  midi 1;
instrumentDef:ex1  MyDevice  0 0 0;
[
instrument: ex1;
{


c2. c4 | c2~ c4 c


}
]]]></code></pre></tutorialsnippet><h3 id="tuplets">Tuplets</h3>
<p>To write tuplets of any kind you just have to write notes encloded by parentheses followed by a duration value. For example: <code>(c c c)4</code>.
These three notes will now be played in the time of one quarter.</p>
<p>It doesn&#39;t matter if you write <code>(c2 c2 c2)4</code> or <code>(c8 c8 c8)4</code> because you have three notes with equal durations to be played in the time of one quarter.</p>
<p><em>The relations between the notes are vital, not their absolute durations.</em></p>
<p><img src="https://raw.githubusercontent.com/SambaGodschynski/werckmeister/master/assets/tuplets.png" alt="n-tole examples with 3,7 and 9"></p>
<tutorialsnippet lineHeight="2" lineOffset="7"><pre><code appWerckmeisterCode><![CDATA[tempo: 60;
device: MyDevice  midi 1;
instrumentDef:ex1  MyDevice  0 0 0;
[
instrument: ex1;
{


(c8 c c)4   (c8 c c c c)4  (c8 c c c c c c)4  (c8 c c c c c c c c)4


}
]]]></code></pre></tutorialsnippet><h3 id="nested-tuplets">Nested Tuplets</h3>
<p>You are also able to write nested tuplets:</p>
<p><img src="https://raw.githubusercontent.com/SambaGodschynski/werckmeister/master/assets/blackpages.png" alt="a example of nested tuplets"></p>
<tutorialsnippet lineHeight="2" lineOffset="7"><pre><code appWerckmeisterCode><![CDATA[tempo: 60;
device: MyDevice  midi 1;
instrumentDef:ex1  MyDevice  0 0 0;
[
instrument: ex1;
{


b2 ((b c#' c#' b d')  (f' a a bb c')  (e' a' bb' f' c' g))2


}
]]]></code></pre></tutorialsnippet><h2 id="write-for-drums">Write for drums</h2>
<h3 id="pitchmaps">Pitchmaps</h3>
<p>tbd.</p>
<h2 id="accomp-my-melodies">Accomp My Melodies</h2>
<p>Imagine you give your bass player some chords, and he or she asks you how to play these.
<br>You would say something like: play the 1st degree on one and the 5th degree on four. </p>
<p>And this is exactly what you doing when writing style templates.
<br>So in our example above you would write:</p>
<tutorialsnippet lineHeight="25" lineOffset="0"><pre><code appWerckmeisterCode><![CDATA[-- make sure that you have a chord definition loaded
using "chords/default.chords";

device: MyDevice  midi 0;
--             name  device       ch pc cc
instrumentDef:bass  MyDevice      0  0  0;

-- here is the template:
[
type: template;
name: simpleBass;
instrument: bass;
{
    I,,2. V,,4 |
}
]

-- here are some chords:
[
type: accomp;
{
    /template: simpleBass/
    C | F | G | C |
}
]
]]></code></pre></tutorialsnippet><p>Instead of writing absolute notes, you use relative degrees. For example <code>I4</code> means the first degree as a quarter note. </p>
<p><em>If a degree does not appear in a chord, the degree will not played.</em></p>
<p>There are the same rules as for writing absolute <a [routerLink]="['./']" fragment="Notes">notes</a>:</p>
<p>such as:</p>
<ul>
<li>use <code>#</code> or <code>b</code> for sharp or flat</li>
<li>to perform inervals use angle brackes. For example a triad: <code>&lt;I II III&gt;</code></li>
<li>use <code>~</code> for tied and <code>.</code> for dotted notes</li>
<li>create tuplets using parantheses</li>
</ul>
<p>To spiece up our example a bit, we add a second bar which plays an interval with I and III</p>
<tutorialsnippet lineHeight="22" lineOffset="0"><pre><code appWerckmeisterCode><![CDATA[-- make sure that you have a chord definition loaded
using "chords/default.chords";

device: MyDevice  midi 0;
--             name  device       ch pc cc
instrumentDef:bass  MyDevice      0  0  0;

[
type: template;
name: simpleBass;
instrument: bass;
{
    I,,2. V,,4 | <I,, III,>1
}
]

[
type: accomp;
{
    /template: simpleBass/
    C | F | G | C |
}
]]]></code></pre></tutorialsnippet><h2 id="advanced-techniques">Advanced techniques</h2>
<h5 id="chords">Chords</h5>
<h5 id="voicing-strategies">Voicing strategies</h5>
<h5 id="mods">Mods</h5>
<h5 id="event-tags">Event Tags</h5>
<h5 id="lua-scripts">Lua scripts</h5>
