@import "../../../mixins.scss";

h1 {
    font-family: Roboto,Arial,Helvetica,sans-serif;
    letter-spacing: 0;
    font-weight: 100;
    font-size: 3.75rem;
    line-height: 4.5rem;
    margin-bottom: 34px;
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 56px 0 24px;
    font-weight: 300;
}

h3 {
    border-bottom: 1px solid lightgrey;
    font-size: 1.5rem;
    margin: 28px 0 12px;
}

h4 {
    font-size: 1.3rem;
}

div.markup {
    max-width: 100%;
    margin: 0 0;
}

@include if-xl-or-larger {
    div.markup {
        max-width: 70%;
        margin: 0 auto;
    }
}
