<div class="markup">
<h1 id="visual-studio-code-extension">Visual Studio Code Extension</h1>

<h2 id="features-1">Features</h2>
<ul>
<li>MIDI Playback from source</li>
<li>Playback visualization</li>
<li>Syntax highlighting</li>
<li>Error &amp; Warning highlighting</li>
<li>Start playback at random position</li>
</ul>
<p><strong>Playback visualization</strong></p>
<img src="https://raw.githubusercontent.com/werckme/werckmeister-codext/master/assets/features/playbackvis.gif">


<h2 id="installation">Installation</h2>
<p>At first you need to install <a href="https://code.visualstudio.com/">Visual Studio Code</a>. You should find a version for MacOs, Windows and Linux.
Is the installation done, open Visual Studio Code. On the left sidebar you find a button which opens the extensions dialog.
Open it and use the search input to find the Werckmeister extension. Select it and hit install.</p>
<p>Of course, you need also an installed Werckmeister compiler on your machine.
With that Werckmeister installation, the Werckmeister compiler should be accessable system wide. So normally you have to do nothing.
If Visual Studio Code is not able to execute the Werckmeister compiler you can set the correct installation path via the extension setup:</p>
<p><em>Preferences -&gt; Settings -&gt; Extensions -&gt; Werckmeister Binary Directory</em></p>
<img src="https://raw.githubusercontent.com/werckme/werckmeister-codext/master/assets/pathsetup.png">


</div>