
<h1 id="werckmeister">Werckmeister</h1>

<h2 id="a-sheet-music-midi-compiler">A Sheet Music MIDI Compiler</h2>
<p>Werckmeister compiles sheet music source code into a MIDI file.</p>
<img src="https://raw.githubusercontent.com/SambaGodschynski/werckmeister/master/assets/flow.png" style="width: 100%; max-width: 800px; display:block; margin:auto; background:white">

<h2 id="vision">Vision</h2>
<p>Consider the beauty of lead sheet music: you write a melody and some chords. Thats it.
<br>Later you can tell your band in which style the piece has to be played. You can say, after 4 beats play it as a bossa nova or a blues or whatever.</p>
<p>This is the idea behind Werckmeister. Of course it can not replace a band or a musician but it offers you a tool to write melodies and chords then you can define how to interpret the chords along your melody or even define your own interpretation templates.</p>
<h2 id="what-it-wants-to-be">What it wants to be</h2>
<ul>
<li>a fast and easy way to create lead sheet music</li>
<li>that tool in your toolchain, between the initial idea of an piece and developing the details in your favourite Sequencer/DAW</li>
<li>a way to create music without a Graphical User Interface</li>
<li>a tool which relies only on human readable files</li>
</ul>
<h2 id="what-it-doesnt-want-to-be">What it doesn&#39;t want to be</h2>
<ul>
<li>a replacement to your favourite Sequencer/DAW</li>
<li>a scorewriter software</li>
<li>a programming language</li>
</ul>
<h2 id="try-it-out">Try it out</h2>
<h3 id="autumn-leaves">Autumn Leaves</h3>
<p>This is the jazz standard &quot;Autumn Leaves&quot; written in werckmeister notation.
<br>Click play to start the song.</p>
<p>For fun sake try to replace the bass template </p>
<pre><code><![CDATA[I,,2. V,,4 |]]></code></pre><p>with this </p>
<pre><code><![CDATA[I,,4 I,8 I,8   I,,4 I,8 I,8 |]]></code></pre><tutorialsnippet lineHeight="54" lineOffset="0"><pre><code appWerckmeisterCode><![CDATA[using "chords/default.chords";
tempo: 140;
device: MyDevice  midi 0;
instrumentDef:lead  MyDevice  0 0 0;
instrumentDef:piano  MyDevice  0 0 0;
instrumentDef:bass  MyDevice  0 0 0;

-- melody track
[
instrument: piano;
{
    \fff
    r4 e f# g | c'1~ | c'4 d e f# | b2 b2~ | b4 c d e | a1~ | a4 b, c# d# | g1 |
    -- wiederholung
    r4 e f# g | c'1~ | c'4 d e f# | b2 b2~ | b4 c d e | a1~ | 
    -- 2.
    a4 f# a g | e1~ | e4 r d# e | f# b, f#2~ | f#4 f# e f# | g1~ | g4 g f# g | a1~ |
    a4 d d' c' | b1~ | b4 r a# b | c' c' a a | f#2. c'4 | b2 b2~ | b2. e4 | a2. g4 | 
    f#2 g4 b, | e1 
}
]

-- accomp track
[
type: accomp;
{   
    r | A-7 | D7 | Gmaj7 | Cmaj7 | F#-7b5 | B7 | E- | E- |
    -- wiederholung
    A-7 | D7 | Gmaj7 | Cmaj7 | F#-7b5  | 
    -- 2.
    B7 | E- | E- | F#-7b5  | B7b9 | E- | E- | A-7 | D7 | Gmaj7 | Gmaj7 |
    F#-7b5  | B7b9 | E-7 A7 | D-7 G7 | F#-7b5 | B7b9 | E- |
}
]

-- the templates defines what the accomp track has to play
[
type: template;
name: myAccomp;
instrument: piano;
{
    \p
    <III, V, VII, II>1 | 
}
]

[
type: template;
name: myAccomp;
instrument: bass;
{
    \p
    I,,2. V,,4 |
}
]]]></code></pre></tutorialsnippet>