
<h1 id="werckmeister">Werckmeister</h1>

<img src="https://raw.githubusercontent.com/werckme/werckmeister/main/assets/hero.png" class="hero-image" alt="from sheet code via Werckmeister to MIDI music">
<br><br>

<h2 id="an-open-source-sheet-music-midi-compiler">An <a href="https://github.com/werckme/werckmeister">open source</a> Sheet Music MIDI Compiler</h2>
<p>Werckmeister compiles sheet music source code into a MIDI file.
<br>It allows you to write sheet music a lá &quot;Real Book&quot; and Werckmeister compiles it into MIDI music.</p>

<werckmeister-snippet wm-css-url="/assets/werckmeister-snippet.css" wm-type="single" wm-tempo="140" wm-data="ICAgYyc0ICAgZzggZyAgIGE0IGd+ICB8ICAgZyAgYiBjJw=="></werckmeister-snippet>
<h2 id="use-werckmeister-if-you-want-to">Use Werckmeister if you want to</h2>
<ul>
<li>translate sheet music into midi music</li>
<li>prototype a song</li>
<li>experiment with chord progressions or different accompaniment styles  </li>
<li>compose using readable source code instead of proprietary files formats</li>
</ul>
<h2 id="features">Features</h2>
<ul>
<li>open source</li>
<li>a fast sheet music MIDI compiler</li>
<li>a sheet music player</li>
<li>accompaniment template rendering engine</li>
<li><a href="https://www.lua.org/">Lua</a> script extensions</li>
</ul>
<h2 id="vision">Vision</h2>
<p>Consider the beauty of lead sheet music: you write a melody and some chords, add some remarks, which instruments and which style.</p>
<p>Thats it.</p>
<p>This is the idea behind Werckmeister. Of course it can not replace a real musician or a band. 
But it offers you a tool to create music just by writing melodies and chords.</p>
