<div class="markup">
<h1 id="werckmeister-vst">Werckmeister VST</h1>

<p>The VST Plugin allows you to use Werckmeister within your favourite DAW. Just load a <code>*.sheet</code> file, the Plugin compiles it and sends its MIDI data into your DAW track. For live editing you can connect VSCode with your plugin instances.</p>
<p><a href="https://werckme.github.io/vst#download">Download Here</a></p>
<h3 id="load-a-sheet-file">Load a sheet file</h3>
<img src="https://raw.githubusercontent.com/werckme/werckmeister/master/assets/vst-loading-sheet.gif">


<h3 id="connect-vscode-with-the-plugin">Connect VSCode with the plugin</h3>
<img src="https://raw.githubusercontent.com/werckme/werckmeister/master/assets/vst2vscode.gif">
</div>