.description {
    font-size: 0.8em;
    font-style: italic;
}

.ctrl {
    margin: 5px 0 0 7px;
}

.ion-md-square {
    font-size: 0.9em;
}

nz-spin {
    display: inline-block;
    margin-left: 1ch;
}

nz-alert {
    margin: 15px 0;
}