<div class="release">
    <h2>{{release.tag_name}}</h2>
    Published at {{ release.published_at | date:'medium' }}
    <div nz-row>
        <div nz-col [nzMd]="24 / numberOfColumns" *ngFor="let download of windows">
            <app-download-details title="Windows" [download]="download"></app-download-details>
        </div>
        <div nz-col [nzMd]="24 / numberOfColumns" *ngFor="let download of mac">
            <app-download-details title="Mac" [download]="download"></app-download-details>
        </div>
        <div nz-col [nzMd]="24 / numberOfColumns" *ngFor="let download of linux">
            <app-download-details title="Linux" [download]="download"></app-download-details>
        </div>                
    </div>
    <br>
    <h4>Release Notes</h4>
    <div [innerHtml]="body" class="body"></div>
</div>
<nz-divider></nz-divider>