@import "../../../../variables.scss";

$height-mainmenu: 24px;
$height-topbar: 50px;
$height-bottom: 150px;

$resize-width: 5px;

.container {
    padding: 0px;
    margin: 0px;
    max-width: unset;
    height: 100vh;
    display: grid;
    grid-template-rows: $height-mainmenu $height-topbar auto $height-bottom;
    grid-template-columns: 277px auto;
    grid-template-areas: 
    "mainmenu mainmenu"
    "sidebar topbar"
    "sidebar editor"
    "sidebar bottom";
}

.editor {
    position: relative;
    grid-row-start: editor;
    grid-column-start: 2;
}

.hasError {
    .editor {
        border: 2px solid red;
    }
}

.sidebar {
    position: relative;
    grid-area: sidebar;
    h3 {
        font-weight: 300;
        font-size: 15px;
        display: block;
        height: $height-topbar;
        margin: 0px;
        padding: 15px;
    }
    .resize-handle {
        top: 0px;
        bottom: 0px;
        right: -$resize-width / 2;
        position: absolute;
        width: $resize-width;
        cursor: col-resize;
    }
}

.topbar {
    grid-area: topbar;
}

.mainmenu {
    grid-area: mainmenu;
    z-index: $z-mainmenu;
}

.bottom {
    grid-area: bottom;
    position: relative;

    .tabs {
        position: absolute;
        top: -24px;
        z-index: $z-editor-1-up;
        .tab {
            opacity: 0.8;
            background: black;
            color: white;
            padding: 4px 13px;
            font-size: 13px;
            &.selected {
                background: grey;
                color: black;
            }
        }
    }

    .resize-handle {
        top: -$resize-width / 2;
        left: 0;
        z-index: $z-editor-1-up;
        height: $resize-width;
        position: absolute;
        width: 100%;
        cursor: row-resize;
    }
}

.folder-header {
    padding-left: $main-sidebar-padding;
    margin: 0;
    font-weight: normal;
    font-size: 17px;
}

.tutorial-toc {
    margin: 15px 0 0 9px;
}
