
.ccontainer {
    padding: 0px;
    display: grid;
    grid-template-rows: 25px 25px;
    grid-template-columns: 48px 48px auto 45px;
    grid-template-areas: 
    "play stop display range-from"
    "play stop display range-to";
    width: 300px;
    font-weight: lighter;
    margin: auto;
}

.btn-play {
    grid-area: play;
}

.btn-stop {
    grid-area: stop;
}

button {
    border-radius: 4px;
    cursor: default;
    font-size: 25px;
    height: 46px;
    border: none;
    margin: 2px 2px 0px 0px;
    i {
        position: relative;
        top: 0px;
    }
}


.display {
    grid-area: display;
    font-size: 45px;
    text-align: right;
    user-select: none;
    cursor: default;
    .position {
        margin: 0px;
        padding-right: 7px;
        position: relative;
        top: -10px;
    }
}

.disabled {
    button {
        opacity: 0.5;
    }
    pointer-events: none;
}