<div class="ccontainer" [ngClass]="{isPlaying: werck.isPlaying || werck.isPaused, disabled: !transportEnabled}">

	<button [hidden]="werck.isPlaying" (click)="play()" class="btn-play"><i class="ion-md-play"></i></button>
	<button [hidden]="!werck.isPlaying" (click)="pause()" class="btn-play"><i class="ion-md-pause"></i></button>

	<button (click)="stop()" class="btn-stop"><i class="ion-md-square"></i></button>
	
	<div class="display">
		<span class="position">{{ werck.position.toFixed(2) }}</span>
	</div>
	<input class="range-from" type="number" min="0" [(ngModel)]="werck.startPosition" [attr.max]="werck.totalDuration-1" [disabled]="werck.isPlaying">
	<input class="range-to" type="number" [value]="werck.totalDuration" disabled>
</div>