@import "../../../../mixins.scss";

nz-card {
    .cta {
        i {
            font-size: 37px;
        }
    }
}

p {
    margin: 15px 0;
}

.play-cta-container {
    position: relative;
}

.play-cta {
    $size: 80px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50px;
    margin-left: -$size/2;
    i {
        color: white;
        font-size: $size;
    }
}

ul.tags, ul.links {
    padding: 0;
    li {
        list-style: none;
    }
}

ul.tags {
    li {
        display: inline;
        nz-tag {
            margin: 5px 2.5px;
        }
    }
}

.title {
    a {
        color: $text-color;
    }
    .song-title {
        display: block;
        margin-bottom: 0;
        line-height: 15px;
    }
    .by {
        font-size: 0.8em;
        font-style: normal;
    }
}

.tag.filtered {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

a[href^="https://www.youtube.com"]::after, 
a[href^="https://youtu.be"]::after {
    content: none;
}

::ng-deep .resource-card .play-cta i {
    filter: drop-shadow(6px 6px 1px black);
}
