<nz-card [nzTitle]="title" class="resource-card">
    <div class="play-cta-container" *ngIf="resource.wid">
        <a class="play-cta" title="open in editor" [routerLink]="['/editor']" [queryParams]="{ wid:resource.wid }"><i
            nz-icon nzType="play-circle" nzTheme="outline"></i></a>
    </div>
    <app-song-preview *ngIf="resource.wid" [song]="resource"></app-song-preview>
    <app-resource-preview *ngIf="resource.eid" [resource]="resource"></app-resource-preview>
    <p>
        <span [innerHtml]="resource.metaData.description">
        </span>
    </p>
    <ul class="links">
        <li *ngFor="let link of resource.metaData.links">
            <a appEmbeddedLink target="_blank" (click)="$event.stopPropagation()"
                [href]="link.url">{{link.title}}</a>
        </li>
    </ul>
    <ul class="tags">
        <app-teaser-collapse>
            <li *ngFor="let tag of resource.metaData.tags | sorted">
                <a (click)="onTagClicked.emit(tag)" class="tag" [ngClass]="htmlName(tag)"> 
                    <nz-tag [nzColor]="'purple'">#{{tag}}</nz-tag>
                </a>
            </li>
        </app-teaser-collapse>
    </ul>
</nz-card>
<ng-template #title>
    <div class="title">
        <a class="cta" title="open in editor" [routerLink]="['/editor']" [queryParams]="{ wid:resource.wid }">
            <h2 class="song-title">{{ resource.metaData.title }}</h2>
            <span class="by">{{ resource.metaData.by.join(',') }}</span>
        </a>
    </div>
</ng-template>