@import "../../../../../variables.scss";

input {
    color: black;
    min-width: 10em;
    border: none;
    outline: none;
}

.invalid {
    input {
        color: red;
    }
    .submit {
        pointer-events:none;
        opacity: 0.2;
    }
}
.ctrl + .ctrl {
    margin-left: 5px;
}

.ctrl:hover {
    color: $edActiveColor;
}

.container {
    font-family: monospace;
    display: flex;
    justify-content: space-between;
    .controls {
        margin-left: 15px;
    }
}