$keycolor: #ff79c6;
@import 'node_modules/bootstrap/scss/variables';
@import './variables.scss';

.sheet-editor {
    .track-begin 
    , .track-end
    {
        color: #dbdbdb;
    }

    .voice-begin
    , .voice-end
    {
        
        color: #a9a9a9;
    }


    .eob {
        color: #e0e0e0;
        //background: #004eff2b;
    }

    .metaargs {
        opacity: 0.7;
    }

    .link {
        color: $link-color;
        cursor: pointer;
        pointer-events: all;
    }    

    .marked {
        position: absolute;
        width: 5px !important; 
    }
    .marked[werckzeug="off"] {
        border-top: none;
    }
}

.sheet-editor {
    .marked[werckzeug="marked"] {
        $color: yellow;
        border-top: $color solid 1px;
        border-left: $color solid 1px;
        border-radius: 0;
        height: 8px !important;
        width: 8px !important;
        margin-top: -0.4em;
        transform: rotate(-135deg);
    }
}