$ionicons-font-path: "~ionicons/dist/fonts";
@import "node_modules/ionicons/dist/scss/ionicons";
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import "./editor-style.scss";
@import "./roboto-condensed.scss";
@import "./roboto.scss";
@import "./variables.scss";
@import "./mixins.scss";

// remove "?version=xyz" from ionic urls
// our cef app scheme handler canot handle this  
@import "node_modules/ionicons/dist/scss/ionicons-variables";
@font-face {
    font-family: "Ionicons";
    src:url("#{$ionicons-font-path}/ionicons.eot");
    src:url("#{$ionicons-font-path}/ionicons.eot#iefix") format("embedded-opentype"),
        url("#{$ionicons-font-path}/ionicons.woff2") format("woff2"),
        url("#{$ionicons-font-path}/ionicons.woff") format("woff"),
        url("#{$ionicons-font-path}/ionicons.ttf") format("truetype"),
        url("#{$ionicons-font-path}/ionicons.svg#Ionicons") format("svg");
    font-weight: normal;
    font-style: normal;
}



body {
    background: $background;
    color: $text-color;
    font-size: 1.125rem;
}


$grey1: rgb(49, 49, 49);
$grey2: rgb(65, 65, 65);
$grey3: rgb(81, 76, 90);
$grey4: rgb(46, 46, 46);
$grey5: rgb(204, 204, 204);
$buttonGrey: #4a4a4a;
$blue: rgb(0, 0, 255);

nav, .navbar {
    margin-bottom: 3.5em;
    background: lighten($color: $background, $amount: 5);
    width: 100%;
    position: fixed;
    @include mat-card-2;
    z-index: 10;
}

h1 {
    font-family: Roboto,Arial,Helvetica,sans-serif;
    letter-spacing: 0;
    font-weight: 100;
    font-size: 3.75rem;
    line-height: 4.5rem;
    margin-bottom: 34px;
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 56px 0 24px;
    font-weight: 300;
}

h3 {
    border-bottom: 1px solid lightgrey;
    font-size: 1.5rem;
    margin: 28px 0 12px;
}

h4 {
    font-size: 1.3rem;
}

editor.tutorial {
    .sheet-editor {
        position: relative;
        width: 100%;
    }
    .ace_scrollbar {
      display: none;
    }
}

tutorialsnippet {
    .ccontainer {
        margin: 2em 0;
    }
}

.ace_editor {
    @include mat-card-2;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
    code {
        display: inline;
        max-width: auto;
        padding: 0;
        margin: 0;
        overflow: visible;
        line-height: inherit;
        word-wrap: normal;
        background-color: initial;
        border: 0;
    }
}

tutorialsnippet {
    code, pre {
        display: none;
    }
}
