$z-editor-1-up: 8;
$z-mainmenu: 10;
$background: #fffcf2;
$text-color: #5f6368;
$app-menu-background: #282a36;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$z-index-on-top: 10000;
$z-index-modal: 10050;

$edDark: #1f2227;
$edDarker: #1a1d21;
$edActiveColor: #9191e8;
$fileListBgColor: $edDark;
$activeColor: #1890ff;