$z-editor-1-up: 8;
$z-mainmenu: 10;
$background: #fffcf2;
$text-color: #5f6368;
$app-menu-background: #282a36;

// $wm-color-1: #F2059F;
// $wm-color-2: #05C7F2;
// $wm-color-3: #45BF57;
// $wm-color-4: #F27127;
// $wm-color-5: #0D0D0D;

$wm-color-3: #731652;
$wm-color-4: #BFAE4B;
$wm-color-1: #BF3790;
$wm-color-2: #24B8BF;
$wm-color-5: #1C6F73;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$z-index-on-top: 10000;
$z-index-modal: 10050;

$edDark: #1f2227;
$edDarker: #1a1d21;
$edActiveColor: #9191e8;
$fileListBgColor: $edDark;
$activeColor: #1890ff;