<nz-card nzTitle="Iris Im Fernseh">
    <div nz-row>
        <div nz-col nzSm="24" nzMd="12">
            Features:
            <ul>
                <li>a lot of template changes (e.g. Country bass with Bossa Nova drums)</li>
                <li>different time signatures (2/4 vs. 4/4)</li>
                <li>a tempo change</li>
                <li>different tracks with different tempos (double / half)</li>
                <li>lua guitar stroke algorithm</li>
            </ul>
        </div>
        <div nz-col nzXs="24" nzMd="12">
            <app-embedded-player url="https://api.soundcloud.com/tracks/776147047"></app-embedded-player>
        </div>
    </div>
    <h4>Source</h4>
    <ul class="sources">
        <li>
            <a target="_blank" href="https://github.com/werckme/werckmeister/blob/master/examples/tv.sheet">
                https://github.com/werckme/werckmeister/blob/master/examples/tv.sheet
            </a>
        </li>
    </ul>
</nz-card>

<nz-card nzTitle="The Black Pages No. 1">
    <div nz-row>
        <div nz-col nzSm="24" nzMd="12">
            Features:
            <ul>
                <li>nested tuplets</li>
            </ul>
        </div>
        <div nz-col nzXs="24" nzMd="12">
            <app-embedded-player url="https://api.soundcloud.com/tracks/776522623"></app-embedded-player>
        </div>
    </div>
    <h4>Source</h4>
    <ul class="sources">
        <li>
            <a target="_blank" href="https://github.com/werckme/werckmeister/blob/master/examples/the_black_page_no_1.sheet">
                https://github.com/werckme/werckmeister/blob/master/examples/the_black_page_no_1.sheet
            </a>
        </li>
    </ul>
</nz-card>

<nz-card nzTitle="Ennio">
    <div nz-row>
        <div nz-col nzSm="24" nzMd="12">
            Features:
            <ul>
                <li>one sheet with different accompaniment styles</li>
                <li>pitch bend (German Schlager)</li>
                <li>lua shuffle algorithm (Reggae)</li>
            </ul>
        </div>
        <div nz-col nzXs="24" nzMd="12">
            <app-embedded-player url="https://api.soundcloud.com/tracks/776510776" [small]="true"></app-embedded-player>
            <app-embedded-player url="https://api.soundcloud.com/tracks/776511289" [small]="true"></app-embedded-player>
            <app-embedded-player url="https://api.soundcloud.com/tracks/776510644" [small]="true"></app-embedded-player>
            <app-embedded-player url="https://api.soundcloud.com/tracks/776509645" [small]="true"></app-embedded-player>
        </div>
    </div>
    <h4>Sources</h4>
    <ul class="sources">
        <li>
            <a target="_blank" href="https://github.com/werckme/werckmeister/blob/master/examples/ennio.sheet">
                https://github.com/werckme/werckmeister/blob/master/examples/ennio.sheet
            </a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/werckme/werckmeister/blob/master/examples/ennio-bossa.sheet">
                https://github.com/werckme/werckmeister/blob/master/examples/ennio-bossa.sheet
            </a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/werckme/werckmeister/blob/master/examples/ennio-schlager.sheet">
                https://github.com/werckme/werckmeister/blob/master/examples/ennio-schlager.sheet
            </a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/werckme/werckmeister/blob/master/examples/ennio-reggae.sheet">
                https://github.com/werckme/werckmeister/blob/master/examples/ennio-reggae.sheet
            </a>
        </li>
    </ul>
</nz-card>


