@import "../../../../mixins.scss";

ul.tags {
    padding: 0;
    li {
        list-style: none;
        display: inline;
    }
}

nz-card {
    margin-bottom: 1em;
    @include mat-card-1;
}

.title {
    .song-title {
        display: block;
    }
    .by {
        font-size: 0.8em;
        font-style: normal;
    }
}