
<div class="search-bar">
  <nz-select nzMode="tags" [nzAllowClear]="true" nzPlaceHolder="Filter" [(ngModel)]="filters" nzSize="large" (ngModelChange)="filter($event)">
    <nz-option *ngFor="let tag of allTags" [nzLabel]="'#'+tag" [nzValue]="tag"></nz-option>
  </nz-select>
</div>

<div nz-row [nzGutter]="{xs: 0, sm: 20, md: 20, lg: 40, xl: 40, xxl: 40}" >
    <div nz-col *ngFor="let song of filteredSongs" [nzXs]="{ span: 24 }" [nzSm]="{ span: 12 }" [nzMd]="{ span: 8 }">
        <div class="card-wrapper">
          <app-song-card [song]="song" (onTagClicked)="addTagFilter($event)"></app-song-card>
        </div>
    </div>
</div>