.CodeMirror {
    font-size: 25px;
}

.whomai {
    display: none;
}

#editor {
    border: 2px solid grey;
}

#wm-controls {
    display: none;
}

.cm-wm-hidden-line {
    display: none;
}

.CodeMirror-code .CodeMirror-line:first-child {
    display: none;
}