$transition-time: 0.5s;
.accordion-header {
    &.handle-visible {
        .control {
            cursor: pointer;
        }
    }

    .control {
        user-select: none;
        text-decoration: none;

        span {
            font-size: 13px;
            margin-left: 10px;
            
            &::before {
                content: "[show]";
            }
            
            &.open::before {
                content: "[hide]";
            }
        }

        a {
            letter-spacing: 3px;
            position: relative;
            color: white;
        }
    }
}

.accordion-content {
    position: relative;
    overflow: hidden;
    transition: all $transition-time;
    &.hidden {
        transition: all $transition-time;
        height: 0px !important;
    }
}

.ccontainer {
    margin-bottom: -15px;
}
